# Files not to be tracked

model/*.bin
results/*
evaluation/results-summary*.txt
evaluation/decisions/*
evaluation/categories/*
evaluation/category_graphs/*
evaluation/wordnet_distinction_level/*
data/*.txt
!data/toy*.txt
neighbor_stability/models/*


